<html>
    <head>
    <title>Online</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <div class='container home'>
            <h1>Online Quiz System</h1>
            <p>Test your Knowledge of web development</p>
            <div class="instructions">
                <h2>Instructions</h2>
                <ul>
                    <li>There are 5 Questions</li>
                    <li>Each Question has one correct answer</li>
                    <li>Select the Best answer</li>
                    <li>Submit the Quiz after answering all the Questions</li>

                </ul>
            </div>
            <a href="/quiz">
                <button class="start_btn">
                    Start Quiz
                </button>
            </a>

        </div>
    </body>
</html>
